<div class="login-box">
  <h2>Crear Cliente</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="guardar()">

    <div class="user-box">
      <input type="text" id="nombre" formControlName="nombre" required />
      <label for="nombre">Nombre</label>
    </div>

    <div class="user-box">
      <input type="text" id="apellido" formControlName="apellido" required />
      <label for="apellido">Apellido</label>
    </div>

    <div class="user-box">
      <input type="text" id="numeroIdentificacion" formControlName="numeroIdentificacion" required />
      <label for="numeroIdentificacion">NIT / DPI</label>
    </div>

    <div class="user-box">
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required />
      <label for="fechaNacimiento">Fecha de nacimiento</label>
    </div>

    <div class="user-box">
      <input type="text" id="direccion" formControlName="direccion" required/>
      <label for="direccion">Dirección</label>
    </div>

    <div class="user-box">
      <input type="email" id="correoElectronico" formControlName="correoElectronico" required />
      <label for="correoElectronico">Correo electrónico</label>
      <div class="error" *ngIf="clienteForm.get('correoElectronico')?.hasError('email') && clienteForm.get('correoElectronico')?.touched">
        El correo electrónico no es válido.
      </div>
    </div>


    <div class="user-box">
      <input type="text" id="telefono" formControlName="telefono" required/>
      <label for="telefono">Teléfono</label>
    </div>

    <button type="submit" [disabled]="clienteForm.invalid" class="submit-button">
      <span></span><span></span><span></span><span></span>
      Guardar
    </button>

  </form>
</div>
