<nav class="navbar">
  <div class="menu-item">
    <span>Clientes ▾</span>
    <div class="submenu">
      <a routerLink="/clientes" routerLinkActive="activo">Listar Clientes</a>
      <a routerLink="/clientes/nuevo" routerLinkActive="activo">Crear Cliente</a>
    </div>
  </div>
  <div class="menu-item">
    <span>Solicitudes de préstamo ▾</span>
    <div class="submenu">
      <a routerLink="/solicitudes" routerLinkActive="activo">Listar solicitudes</a>
      <a routerLink="/solicitudes/nuevo" routerLinkActive="activo">Crear solicitud</a>
    </div>
  </div>
  <div class="menu-item">
    <span>Préstamos ▾</span>
    <div class="submenu">
      <a routerLink="/prestamos" routerLinkActive="activo">Listar prestamos</a>
      <a routerLink="/prestamos/pagar" routerLinkActive="activo">Crear solicitud</a>
    </div>
  </div>
</nav>
